.speed-display {
  position: relative;
  width: 240px; /* ⬆️ augmenté */
  height: 75px; /* ⬆️ augmenté */
}

.speed-bg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.speed-overlay {
  position: absolute;
  top: 7px;
  left: 60px;
  font-family: "Digital7", monospace;
  font-size: 70px;
  color: #ff1a1a; /* rouge net, pas saturé */
  text-shadow: 0 0 0.5px #ff1a1a, 0 0 1px #550000; /* ombre douce et sombre */
  letter-spacing: 15px;
  user-select: none;
}
